/* About Story Section */
.about-story {
    padding: 60px 0 40px;
}

.about-story__heading {
    text-align: center;
    font-family: var(--font-heading-family);
    font-size: 4.2rem;
    font-weight: var(--font-heading-weight);
    font-style: italic;
    margin: 0 0 40px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

@media screen and (min-width: 750px) {
    .about-story__heading {
        font-size: 5.4rem;
        margin-bottom: 50px;
    }
}

.about-story__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: start;
    margin-bottom: 20px;
}

@media screen and (min-width: 750px) {
    .about-story__grid {
        grid-template-columns: 1fr 300px;
        gap: 50px;
    }
}

.about-story__text {
    font-size: 1.4rem;
    line-height: 1.8;
    color: rgba(var(--color-foreground), 0.85);
}

@media screen and (min-width: 750px) {
    .about-story__text {
        font-size: 1.5rem;
    }
}

.about-story__text p {
    margin: 0 0 20px;
}

.about-story__text p:last-child {
    margin-bottom: 0;
}

.about-story__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}

@media screen and (min-width: 750px) {
    .about-story__image-wrapper {
        justify-content: flex-end;
        padding-top: 20px;
    }
}

.about-story__image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

@media screen and (min-width: 750px) {
    .about-story__image {
        width: 260px;
        height: 260px;
    }
}

.about-story__image--placeholder {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: rgba(var(--color-foreground), 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    .about-story__image--placeholder {
        width: 260px;
        height: 260px;
    }
}

.about-story__tagline {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 30px 0 10px;
    color: rgb(var(--color-foreground));
}

.about-story__signature {
    font-style: italic;
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 25px 0 0;
    color: rgba(var(--color-foreground), 0.85);
}

.about-story__signature-name,
.about-story__signature-title {
    display: block;
}